<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-jshare-wechat" version="1.0.6"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>JShareWechat</name>
    <!--添加jcore依赖-->
    <dependency id="cordova-plugin-jshare" />

    <preference name="WECHAT_APPID" />
    <preference name="WECHAT_APPSECRET" />

    <platform name="android">
         <!-- 添加插件安装钩子 -->
        <hook type="after_plugin_add" src="scripts/android-install.js" />
        <hook type="after_plugin_install" src="scripts/android-install.js" />
        <hook type="before_plugin_rm" src="scripts/android-install.js" />
        <hook type="before_plugin_uninstall" src="scripts/android-install.js" />
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="JShareWechat">
                <param name="android-package" value="com.zgwit.jshare.JShareWechat" />
            </feature>
            <preference name="WECHAT_APPID" value="$WECHAT_APPID" />
            <preference name="WECHAT_APPSECRET" value="$WECHAT_APPSECRET" />
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />

      <!--微信.wxapi.WXEntryActivity-->
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity
          android:name=".wxapi.WXEntryActivity"
          android:exported="true" />
      </config-file>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="JShareWechat">
                <param name="ios-package" value="JShareWechat" />
            </feature>
        </config-file>
    </platform>
</plugin>
